.menu {
    overflow: hidden;
    background-color: #CC5801;
    
    width: 455px;
    margin: 0.5%;
    margin-left: 70%;
    
    display: flex;
    justify-content: flex-end;
    flex-flow: nowrap;
}

.menu a {
    color: black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 13px;
}

.menu a:hover {
    background-color: saddlebrown;
    color: #f1f1f1;
}

.menu a.active {
    background-color: saddlebrown;
    color: #f1f1f1;
}
