    body {
        width: 100%;
        font-family: "Segoe UI", sans-serif;
        font-size: 100%;
        background: rgb(34, 193, 195);
        background: linear-gradient(3deg, rgba(34, 193, 195, 0.4290091036414566) 0%, rgba(255, 255, 255, 0) 57%);

    }

    h1 {
        padding: 1%;
        margin: 3%;
        text-align: center;
        font-size: 37px !important;
    }

    /*Contenido*/
    main .principal {
        margin: 2% 15%;
    }

    section .principal {
        padding-left: 1.5%;
        margin-bottom: 2%;
    }

    article .principal {
        margin-bottom: 4%;
    }
