@import url('https://fonts.googleapis.com/css?family=Roboto:300');

main{
    width: 100%;
    padding: 0 15%;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 32px;
    padding-top: 40vh;
    height: 100vh;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    font-weight: bold;
}

.TrituloI {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.TrituloI:first-of-type {
    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
    animation: showup 7s infinite;
}

.TrituloI:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}

.TrituloI:last-of-type .span {
    margin-left: -355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 390px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 400px;
    }
}


p .tit{
    font-size: 12px;
    color: #999;
    margin-top: 200px;
}


